{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}Island{% endblock %}</title>
  {% block head %}
  {% endblock %}
</head>

<body class="blue-grey lighten-5">
  {% block nav %}
  <div class="navbar-fixed">
    <ul id="user-dropdown" class="dropdown-content" style="min-width: 150px">
      <li><a href="{% url 'profile' %}"><i class="material-icons">person</i>我的主页</a></li>
      <li><a href="{% url 'user_edit' %}"><i class="material-icons">settings</i>设置</a></li>
      <li class="divider"></li>
      <li><a href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i>退出</a></li>
    </ul>
    <nav class="{% if request.customize_user.is_authenticated %}red darken-3{% else %}blue{% endif %}" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Logo</a>
        <ul class="hide-on-med-and-down" style="margin-left: 100px">
          <li><a href="{% url 'question_list' %}">问答</a></li>
          <li><a href="#">文章</a></li>
          <li><a href="#">Demo</a></li>
          <li><a href="#">教程</a></li>
          <li><a href="#">师徒</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"><i class="material-icons">search</i></a></li>
          <li><a href="#"><i class="material-icons">notifications</i></a></li>
          <li><a href="#"><i class="material-icons">chat</i></a></li>
          {% if request.customize_user.is_authenticated %}
            <li><a class="dropdown-button" href="#" data-activates="user-dropdown"><img height="30px" width="30px" style="margin-top: 15px" src="{% if request.customize_user.avatar %} {{ request.customize_user.avatar.url }} {% else %} /media/avatar/default.png {% endif %}"> </a></li>
          {% else %}
            <li><a href="{% url 'login' %}">登录</a></li>
            <li><a href="{% url 'register' %}">注册</a></li>
          {% endif %}
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="/"><i class="material-icons">home</i></a></li>
          <li><a href="#"><i class="material-icons">notifications</i></a></li>
          <li><a href="#"><i class="material-icons">chat</i></a></li>
          {% if request.customize_user.is_authenticated %}
            <li><a href="{% url 'profile' %}"><i class="material-icons">person</i></a></li>
            <li><a href="{% url 'user_edit' %}"><i class="material-icons">settings</i></a></li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}"><i class="material-icons">power_settings_new</i></a></li>
          {% else %}
            <li><a href="{% url 'login' %}">登录</a></li>
            <li><a href="{% url 'register' %}">注册</a></li>
          {% endif %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  {% endblock %}

  <div class="container">
    {% block container %}
    {% endblock %}
  </div>

  {% block footer %}
  <footer class="page-footer {% if request.customize_user.is_authenticated %}red darken-3{% else %}blue{% endif %}">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 island
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
  </footer>
  {% endblock %}

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  <script type="text/javascript">
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    $(document).ready(function () {
        $('.button-collapse').sideNav();
    });
  </script>
  {% block script %}
  {% endblock %}
</body>
</html>